<nav class="navbar navbar-expand-lg">
  <div class="navbar">
    <img class="img" width="180" src="/images/pupHubLogo.png">
    <h1>The ultimutt guide for all things dogs!</h1>
    <ul class="links">
      {{#if loggedIN}}
      
        <a href="/logout">Logout</a>
      
    {{else}}
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    {{/if}}
      <a href="/">Home</a>

    </ul>
    
  </div>
</nav>