
<section class="card">
    <div class="card-body">
      
      <p>Rating:{{review_rating}}</p>
      <p>Subject:{{review_subject}}</p>
      <p>Review: {{review_body}}</p>
      <hr>
    </div>

</section>