<div class="container">  
    <h4>Add A New Company</h4>
    <div class="row login"> 
        <div class="card" id="addCompCard">     
            <form method="POST" action="/api/companies">
                <div class="row g-3">
                    <div class="col-md-7">
                        <div class="form  ">
                            <label class="input-label">Company Name:</label>
                            <span id="errorMsg1"></span>
                            <input id="name" class="form-control" name="name" type="text" style="margin-bottom:10px;">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form">
                            <label class="input-label">Phone:</label>
                            <span id="errorMsg2"></span>
                            <input id="phone" class="form-control" name="phone" type="text" style="margin-bottom:10px;">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form ">
                            <label class="input-label">Address:</label>
                            <span id="errorMsg2"></span>
                            <input id="address" class="form-control" name="address" type="text" style="margin-bottom:10px;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form ">
                            <label class="input-label">City:</label>
                            <span id="errorMsg3"></span>
                            <input id="city" class="form-control" name="city" type="text" style="margin-bottom:10px;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form ">
                            <label class="input-label">State:</label>
                            <span id="errorMsg4"></span>
                            <input id="state" class="form-control" name="state" type="text" style="margin-bottom:10px;">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form ">
                            <label class="input-label">Zip Code:</label>
                            <span id="errorMsg4"></span>
                            <input id="zipCode" class="form-control" name="zipCode" type="text" style="margin-bottom:10px;">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form ">
                            <label class="input-label">Category:</label>
                            <span id="errorMsg5"></span>
                            <input id="category" class="form-control" name="category" type="text" style="margin-bottom:10px;">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form ">
                            <label class="input-label">Website</label>
                            <span id="errorMsg6"></span>
                            <input id="webAddress" class="form-control" name="webAddress" type="text" style="margin-bottom:10px;">
                        </div>
                    </div>
                    <div class="form">
                        <input type="submit" id="register" value="Register" class="form btn btn-primary" name="register" style="">
                    </div>
                </div>
            </form>
        </div>  
    </div>
</div>

{{!-- why isn't the grid working? --}}
