
    <div id="wrapper">
    <div class="bg-success" id="sidebar-wrapper"  >
        <div class="sidebar-brand">
            <p class="text-white"></p>test456</p>
        </div>

        <ul class="sidebar-nav bg-danger">
           <li class="bg-danger"><a href="/api/companies">Companies</a></li>           
           <li class="bg-danger"><a href="/api/reviews">Reviews</a></li>
           <li class="bg-danger"><a href="/api/users">Users</a></li>
        </ul>
    </div>
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bg-success"><p>testaa</p></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right nav_bar">
        {{#if loggedIN}}
            <li><a href="/logout">Logout</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        {{/if}}
        <li><a href="/">Home</a></li>
        
      </ul>
    </div>
  </div>
</nav>
                <h4>Add A New Review</h4>
                
                <form method="POST" action="/api/reviews">

                    <div class="form-group ">
                        <label for="">Review Rating(0-5):</label>
                        <span id="errorMsg1"></span>
                        <input id="rating" class="form-control" name="rating" type="text" style="margin-bottom:20px;">
                    </div>

                    <div class="form-group ">
                        <label for="">Review Subject:</label>
                        <span id="errorMsg2"></span>
                        <input id="subject" class="form-control" name="subject" type="text" style="margin-bottom:20px;">
                    </div>

                    <div class="form-group ">
                        <label for="">Review:</label>
                        <span id="errorMsg2"></span>
                        <input id="review" class="form-control" name="review" type="text" style="margin-bottom:20px;">
                    </div>
                    <div class="form-group">
                        <input type="submit" id="register" value="Submit Review" class="form-control btn btn-primary" name="register" style="">
                    </div>

                </form>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


