    <div class="container-fluid main_body">   
        <h4>Add A New Review for {{company.name}}</h4>
        <div class="row login">          
            <form method="POST" action="/api/reviews">
                <div class="form-group ">
                    <label for="">Review Rating(0-5):</label>
                    <span id="errorMsg1"></span>
                    <input id="rating" class="form-control" name="rating" type="text" style="margin-bottom:20px;">
                </div>

                <div class="form-group ">
                    <label for="">Review Subject:</label>
                    <span id="errorMsg2"></span>
                    <input id="subject" class="form-control" name="subject" type="text" style="margin-bottom:20px;">
                </div>

                <div class="form-group ">
                    <label for="">Review:</label>
                    <span id="errorMsg2"></span>
                    <input id="review" class="form-control" name="review" type="text" style="margin-bottom:20px;">
                </div>
                <div class="form-group">
                    <input type="submit" id="register" value="Submit Review" class="form-control btn btn-primary" name="register" style="">
                </div>
            </form>
        </div>
    </div>
   

