

        <div class="container mt-4">           
            <div class="row">
                <div class ="col s12 m4 text-center">
                    <img class="img" src="images/helloHound.png">
                    <h1>Hello, {{userFirstName}}! </h1>
                    <h2>What would you like to do today?</h2>
                </div>
                <div class ="col s12 m4">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Read Reviews</h5>
                            <p class="text-center">Not sure what company you want to read about?  <BR>Here is a list of all companies.</p>
                            <a href="/api/companies/companies" class="btn btn-block btn-primary link_btn">Review</a>
                        </div>
                    </div>
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Add Company</h5>
                            <p class="text-center">Add company profile so other users can give ratings and reviews.</p>
                            <a href="/api/companies/addCompany" class="btn btn-block btn-primary link_btn">Add</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Search</h5>
                            <p class="text-center">We provide a limited list.<br>Search through our company list by zip code. </p>
                            <a href="/api/companies/search" class="btn btn-block btn-primary link_btn">Search</a>
                        </div>
                    </div>
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">My Profile</h5>
                            <p class="text-center">View and update your profile data.</p>
                            <a href="/api/users/user/{{userId}}" class="btn btn-block btn-primary link_btn">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 


