

        <div class="container-fluid main_body  mb-3">
           <h1>Hello, {{userFirstName}} </h1>
           <h2>What would you like to do today?</h2>
           
            <div class="row d-flex justify-content-around">
                <div class="col-md-4 mx-3  rounded border border-white shadow " id="colDesc">
                    <div class="info-icon"><i class="fa fa-star"></i></div>
                    <h3 class="text-center">Read Reviews</h3>
                    <p class="text-center">Not sure what company you want to read about?  <BR>Here is a list of all companies.</p>
                    <a href="/api/companies/companies" class="btn btn-block btn-primary link_btn form-control mb-3">Review</a>
                </div>
                <div class="col-md-4 mx-3 rounded border border-white shadow " id="colDesc">
                    <div class="info-icon"><i class="fa fa-search"></i></div>
                    <h3 class="text-center">Search</h3>
                    <p class="text-center">We provide a limited list.<br>Search through our company list by zip code.</p>

                    <a href="/api/companies/search" class="btn btn-block btn-primary link_btn form-control mb-3">Search</a>
                </div>
            </div>
            <br><br>
            <div class="row d-flex justify-content-around">
                <div class="col-md-4 mx-3  rounded border border-white shadow " id="colDesc">
                    <div class="info-icon"><i class="far fa-plus-square"></i></div>
                    <h3 class="text-center">Add Company</h3>
                    <p class="text-center">Add company profile so other users can give ratings and reviews.</p>
                    <a href="/api/companies/addCompany" class="btn btn-block btn-primary link_btn form-control mb-3">Add</a>
                </div>  
                <div class="col-md-4 mx-3 rounded border border-white shadow " id="colDesc">
                    <div class="info-icon"><i class="fas fa-address-card"></i></div>
                    <h3 class="text-center">My Profile</h3>
                    <p class="text-center">View and update your profile data.<br>Tell us about you.</p>
                    <a href="/api/users/user/{{userId}}" class="btn btn-block btn-primary link_btn form-control mb-3">View Profile</a>
                </div>                              
            </div>               <br><br>
            {{#if isAdmin}}
            <div class="row  mb-3 d-flex justify-content-around">
      
                <hr>
                <h4>The below options are only visable for users with Admin access.</h4>
                  <div class="col-md-4 mx-3  rounded border border-white shadow " id="colDesc">
                    <div class="info-icon"><i class="fas fa-trash-alt"></i></div>
                    <h3 class="text-center">Delete Review</h3>
                    <p class="text-center">Only admins can delete a review.</p>
                    <a href="/delReview" class="btn btn-block btn-primary link_btn form-control mb-3">Delete Review</a>
                </div>
                <div class="col-md-4 mx-3 rounded border border-white shadow " id="colDesc">
                    <div class="info-icon"><i class="fas fa-trash-alt"></i></div>
                    <h3 class="text-center">Delete Company</h3>
                    <p class="text-center">Only admins can delete a company.</p>
                    <a href="/delCompany" class="btn btn-block btn-primary link_btn form-control mb-3">Delete Company</a>
                </div>
               
            </div>
            '
            {{/if}}
            
        </div>



