
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right nav_bar">
            {{#if loggedIN}}
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            {{/if}}
            <li><a href="/">Home</a></li>
        </ul>
        </div>
    </div>

        <div class="container-fluid main_body">
           <h1>Hello, {{userFirstName}} </h1>
           <p>What would you like to do today?</p>
           
            <div class="row">
                <div class="col-md-4" id="colDesc">
                    <div class="info-icon"><i class="fa fa-star"></i></div>
                    <h3 class="text-center">Read Reviews</h3>
                    <p class="text-center">Not sure what company you want to read about?  <BR>Here is a list of all companies.</p>
                    <a href="/api/companies/companies" class="btn btn-block btn-primary link_btn">Review</a>
                </div>
                <div class="col-md-4" id="colDesc">
                    <div class="info-icon"><i class="fa fa-search"></i></div>
                    <h3 class="text-center">Search</h3>
                    <p class="text-center">We provide a limited list.<br>Search through our company list by zip code.</p>

                    <a href="/api/companies/search" class="btn btn-block btn-primary link_btn">Search</a>
                </div>
            </div>
            <div class="row"></div>
                <div class="col-md-4" id="colDesc">
                    <div class="info-icon"><i class="fa fa-sign-in"></i></div>
                    <h3 class="text-center">Add Company</h3>
                    <p class="text-center">Add company profile so other users can give ratings and reviews.</p>
                    <a href="/api/companies/addCompany" class="btn btn-block btn-primary link_btn">Add</a>
                </div>  
                <div class="col-md-4" id="colDesc">
                    <div class="info-icon"><i class="fa fa-sign-in"></i></div>
                    <h3 class="text-center">My Profile</h3>
                    <p class="text-center">View and update your profile data.<br>Tell us about you.</p>
                    <a href="/api/users/user/{{userId}}" class="btn btn-block btn-primary link_btn">View Profile</a>
                </div>                              
            </div>
            {{#if isAdmin}}
            <div class="row">
                <hr>
                <h4>The below options are only visable for users with Admin access.</h4>
                <div class="col-md-4" id="colDesc">
                    <div class="info-icon"><i class="fa fa-search"></i></div>
                    <h3 class="text-center">Delete Review</h3>
                    <p class="text-center">Only admins can delete a review.</p>
                    <a href="/delReview" class="btn btn-block btn-primary link_btn">Delete Review</a>
                </div>
                <div class="col-md-4" id="colDesc">
                    <div class="info-icon"><i class="fa fa-star"></i></div>
                    <h3 class="text-center">Delete Company</h3>
                    <p class="text-center">Only admins can delete a company.</p>
                    <a href="/delCompany" class="btn btn-block btn-primary link_btn">Delete Company</a>
                </div>
            </div>
            {{/if}}
            
        </div>
 
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


