
        <div class="container-fluid main_body">
           <div class="row">
             
                   
             <div class= "container">
                <h1>The ultimutt guide for all things dogs!</h1>
                <p>Your furry friend deserves nothing but the best.
                  Check out a list of company reviews written by fellow puppy peers in your area. <a href="/login">Login</a> to unleash the pawsibilities.</p>
                </div>
                {{!-- <img class="img dog" src="images/sadPup.png"> --}}
                <p id="oval" class="align-left"></p>                                 

                </div>
             </div>
            
        </div>
    </div>

</div>
   