
<div class="container mt-4">
  <div class="row">
      <h1>The ultimutt guide for all things dogs!</h1>

  
    <div class="card text-center">
        <div class="card-body">
          <h2 class="text-center">
          Your furry friend deserves nothing but the best.<br>
          Check out a list of company reviews written by fellow puppy peers in your area.<br> 
          <a href="/login">Login</a> to unleash the pawsibilities.
          </h2>
        </div>
      </div>      
  </div>    
  <img class="img" src="images/dogThoughts.png">                                
</div>