
<div class="container">
  <div class="overlay">
        <img class="img mt-5" src="images/upPups.png">
    </div>
  <div class="row">
      <h1>The ultimutt guide for all things dogs!</h1>
      <div class="card text-center">
        <div class="card-body">
          <p class="text-center">
          Your furry friend deserves nothing but the best.<br>
          Check out a list of company reviews written by fellow puppy peers in your area.<br> 
          <a href="/login">Login</a> to unleash the pawsibilities.
          </p>
        </div>
    </div>      
    {{!-- <img class="img dog" src="images/sadPup.png"> --}}                              
  </div>
</div>