
<div class="container mt-4 ">
  <div class="row">
    <div class="card text-center mx-auto">
        <div class="card-body">
          <h2 class="text-center">
          Your furry friend deserves nothing but the best!
          </h2>
          <h3>
            Check out a list of company reviews written by fellow puppy peers in your area.<br> 
          <a href="/login">Login</a> to unleash the pawsibilities.
          </h3>
          <img class="img-fluid" src="images/dogThoughts.png">
        </div>
      </div>      
  </div>    
                                  
</div>