<div class="container-fluid main_body">
    <br><br>
    <div class="text-center reg_msg">
        <h1><a href="/">Dog Day Reviews</a></h1>
    </div>
   <br><br>
   <div class="text-center reg_msg">
        <h2 class="fancy"><span>You have been successfully logged out.</span></h2>
   </div><br>

    <div class="row login">
          <div>
              <h4>Want to login? <a href="/login">Login</a></h4>
          </div>
    </div>
</div>
