<div class="container-fluid">
    <div class="row">
        <div class= "col s12 m4">
            <img class="img" src="images/byePup2.png">
        </div>
        <div class= "col s12 m4">
            <div class="card">
                <div class="text-center reg_msg">
                    <h4 class="fancy"><span>You have been successfully logged out.</span></h4>
                </div><br>
                <div class="row login text-center">
                    <h2>Want to login? <a href="/login">Login</a></h2>
                </div>
            </div>
        </div>
        <div class= "col s12 m4">
            <img class="img" src="images/byePup1.png">
        </div>
    </div>
</div>
