<div class="container">
    <div class="card text-center mx-auto">
        <div class="row">
        <div class="col-auto">
            <h4 class="fancy"><span>SIGN UP</span></h4>
            <form method="POST" class="form-control" id="signupForm" action="/api/users/signup">
                <div class="form-group input_group">
                    <input id="firstName" class="form-control" name="firstName" type="text" autocomplete="on" placeholder="First Name" style="margin-top: 10px; margin-bottom:10px;" >
                    <input id="lastName" class="form-control" name="lastName" type="text" autocomplete="on" placeholder="Last Name" style="margin-top: 10px; margin-bottom:10px;" >
                    <input id="username" class="form-control" name="username" type="text" autocomplete="on" placeholder="USERNAME" style="margin-top: 10px; margin-bottom:10px;" >
                    <input id="email" class="form-control" name="email" type="text" autocomplete="on" placeholder="EMAIL" style="margin-bottom:10px;">
                    <input id="password" class="form-control" name="password" type="password" placeholder="PASSWORD" style="margin-bottom:10px;">
                    <input type="submit" id="submit" value="SIGN UP" class="form-control btn btn-primary" name="submit" style="">
                </div>
            </form>
            <h4>Already have an account? <a href="/login">Login</a></h4>
        </div>
        <div class="col-auto">
            <img class="img" src="images/dogPencil.png" id="dogPencil">
        </div>
        </div>
    </div>
</div>