@use '../custom' as *;

footer {
    background-color: $primary;
    bottom: 0px;
    width: 100%;
    height: 5%;
    padding-bottom: 2rem;
    position: fixed;

    img{
        margin-bottom: 1rem; 
        align-self: center;
    }
    
}
