@use '../custom' as *;

// @mixin width(width) {
//     min-width: width;
//     max-width: width;
//     width: width;
// }

.navbar {
    // @include width(100px);
    background-color: $primary;
    flex-direction: row;
    top: 0px;
    width: 100%;
    color: $secondary;

    .links {
        align-content: flex-end;
        margin-bottom: 0px;

        a {
            padding: 1px;
        }
    }
}