@use '../custom' as *;

.navbar {
    background-color: $primary;
    flex-direction: row;
    top: 0px;
    width: 100%;

    .links {
        align-content: flex-end;
        margin-bottom: 0px;

        a {
            padding: 1px;
        }
    }
}