@use '../custom' as *;
.navbar {
    background-color: $primary;
    flex-direction: row;
    top: 0px;
    margin:0%;
    width: 100%;
    color: $secondary;
    .links {
        align-content: flex-end;
        margin-bottom: 0px;
        a {
            padding: 1px;
        }
    }
    .img{
        margin:0;
        padding: 0;
    }
}