@use '../custom' as *;

.container {
    background-color: $primary;
    color: $white;
    text-align: center;
    align-content: center;
            
        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-shadow: 2px 2px black;
        }
        .card {
            position: relative;
            background-color: #ffb469;
            background-image: radial-gradient( circle, #ffb469 5%, $secondary 95% );
            margin: 2rem;
            color:black;
            border: #ffb469;
            border-style:solid;
            padding: 2rem;
        }

        .img {
            border: 1;
            border-color: $secondary;
            border-style: solid;
            background-color: $white;
            width:50%;
            height: auto;
        }

}


