@use '../custom' as *;

.container {
    align-items: center;
        .card {
            position: relative;
            display: flex;
            background-color: #ffb469;
            background-image: radial-gradient( circle, #ffb469 5%, $secondary 95% );
            margin: 2rem;
            color:black;
            border: #ffb469;
            border-style:solid;
            padding: 2rem;
        }

        .img {
            position: relative;
            border: 1;
            border-color: $secondary;
            border-style: solid;
            background-color: $white;
            width:50%;
            height: auto;
        }

        h2 {
            font-size: large;
            font-weight: bold;
        }
        
        h3 {
            font-size: medium;
        }

}


