@use '../custom' as *;

.container-fluid {
    background-color: $primary;
    position: relative;
    margin-top: 20rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    padding-top:5rem;
    color: $white;
        .img-fluid {
            position: absolute;
            width: 100%;
            height: auto;
            margin-top: -23rem;
        }
}
